<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<form method="post" action="/login">
    <div>
        <h1 style="text-align: center;">
            用户登录
        </h1>
    </div>
    <div>
    <h4>
        <input style="color: red; background-color: #00ff00;" type="text" placeholder="用户名" name="user">
        <input style="color: blue; background-color: #dc3545;" type="password" placeholder="密码" name="pwd">
    </h4>
    </div>
    <div>
        <button type="submit">提交</button>
    </div>
</form>
</body>
</html>